@model OrderDetailsVM
@using UnicornInsurance.MVC.Constants
@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe
@{
    ViewData["Title"] = "Order Details";
}

<form method="post">
    <input hidden asp-for="OrderHeader.Id" />
    <br />
    <div class="container order-details">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    @* PAGE TITLE *@
                    <div class="col-12 d-none d-md-block col-md-6 pb-1">
                        <i class="fas fa-shopping-cart" style="font-size: 36px;"></i> &nbsp; <span class="display-6 black-ops-font">Order Summary</span>
                    </div>

                    @* BACK TO ORDERS PAGE *@
                    <div class="col-12 col-md-4 offset-md-2 text-right mt-1">
                        <a asp-controller="Orders" asp-action="Index" class="blue-button btn-lg form-control">Back to Orders</a>
                    </div>
                </div>             
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                @* ORDER DETAILS HEADER *@
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span>Order Details:</span>
                                </h4>
                            </div>

                            @* ORDER ID *@
                            <div class="d-block d-lg-flex row my-1">
                                <div class="col-12 col-lg-3">Order Id</div>
                                <div class="col-12 col-lg-9">
                                    <input readonly asp-for="OrderHeader.Id" type="text" class="form-control" />
                                </div>
                            </div>

                            @* USER NAME *@
                            <div class="d-block d-lg-flex row my-1">
                                <div class="col-12 col-lg-3">Name</div>
                                <div class="col-12 col-lg-9">
                                    <input readonly asp-for="OrderHeader.UserEmail" type="text" class="form-control" />
                                </div>
                            </div>

                            @* ORDER DATE *@
                            <div class="d-block d-lg-flex row my-1">
                                <div class="col-12 col-lg-3">Order Date</div>
                                <div class="col-12 col-lg-9">
                                    <input readonly asp-for="OrderHeader.OrderDate" type="text" class="form-control" />
                                </div>
                            </div>

                            @* PAYMENT STATUS *@
                            <div class="d-block d-lg-flex row my-1">
                                <div class="col-12 col-lg-3">Payment Status</div>
                                <div class="col-12 col-lg-9">
                                    <input readonly asp-for="OrderHeader.PaymentStatus" type="text" class="form-control" />
                                </div>
                            </div>

                            @* IF THE USER IS AN ADMIN AND THE PAYMENT WAS NOT REJECTED *@
                            @if (User.IsInRole(SD.AdminRole))
                            {
                                if (Model.OrderHeader.TransactionId is not null)
                                {

                                    //DISPLAY TRANSACTION ID 
                                    <div class="d-block d-lg-flex row my-1">
                                        <div class="col-12 col-lg-3">Transaction ID</div>
                                        <div class="col-12 col-lg-9">
                                            <input asp-for="OrderHeader.TransactionId" type="text" readonly class="form-control" />
                                        </div>
                                    </div>
                                }
                            }
                        </div>

                    @* ORDER SUMMARY *@
                    <div class="col-12 col-lg-6">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span>Item Purchases:</span>
                        </h4>
                        <ul class="list-group mb-3">

                            @* ORDER DETAILS (PRODUCT, QUANTITY, PRICE) *@
                            @foreach (var mobileSuit in Model.MobileSuitPurchases)
                            {
                                <li class="list-group-item d-block d-md-flex justify-content-between p-2 order-item">
                                    <div class="row container">
                                        <div class="col-12 col-md-8">
                                            <h5 class="my-0 text-decoration-underline">@mobileSuit.MobileSuit.Name</h5>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <p class="green-font">@(String.Format("{0:C}", mobileSuit.Price))</p>
                                        </div>
                                    </div>
                                </li>
                            }
                            @foreach (var weapon in Model.WeaponPurchases)
                            {
                                <li class="list-group-item d-block d-md-flex justify-content-between p-2 order-item">
                                    <div class="row container">
                                        <div class="col-12 col-md-8">
                                            <h5 class="my-0 text-decoration-underline">@weapon.Weapon.Name</h5>
                                            <small>Quantity : @weapon.Count</small>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <p class="green-font">@(String.Format("{0:C}", weapon.Price))</p>
                                        </div>
                                    </div>
                                </li>
                            }

                            @* ORDER TOTAL *@
                            <li class="list-group-item d-block d-lg-flex order-total">
                                <div class="row container">
                                    <div class="col-12 col-lg-6">
                                        <h5 class="lead">TOTAL: </h5>
                                    </div>
                                    <div class="col-12 col-lg-6 text-right">
                                        <h5 class="lead green-font text-decoration-underline">@(String.Format("{0:C}", Model.OrderHeader.OrderTotal))</h5>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        @{
                            // CONVERT TOTAL TO CENTS FOR STRIPE
                            var OrderTotalForStripe = Model.OrderHeader.OrderTotal * 100;
                        }

                        @* IF THE USER HAS PLACED THE ORDER BUT IT WAS REJECTED, DISPAY THE PAY BUTTON *@
                        @if (Model.OrderHeader.PaymentStatus == SD.PaymentStatusRejected
                      && User.IsInRole(SD.CustomerRole))
                        {
                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="@Stripe.Value.PublishableKey"
                                    data-amount="@OrderTotalForStripe"
                                    data-name="Unicorn Insurance Product Purchase"
                                    data-label="Place Order"
                                    data-description="Purchase Mobile Suits and Weapons"
                                    data-locale="auto"
                                    data-allow-remember-me="false"
                                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png">
                            </script>

                            // HIDE THE DEFAULT STRIPE BUTTON
                            <script>
                                document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                            </script>

                            <button type="submit" value="Place Order" class="btn btn-success form-control">Pay Now</button>
                        }
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>