@model WeaponListVM
@{
    ViewData["Title"] = "Weapons";
}

<form method="get" asp-action="Index">
    <div class="container">
        <div class="row">
            @if (User.IsInRole("Admin"))
            {
                @* CREATE NEW WEAPON BUTTON *@
                <div class="col-12 col-lg-4 mb-3">
                    <a class="blue-button" asp-action="Upsert"><i class="fas fa-plus"></i> &nbsp; Create New Weapon</a>
                </div>
            }
        </div>

        <div class="row mb-3">
            @* SEARCH BAR *@
            <div class="col-9 col-sm-10 col-md-10 col-lg-8 offset-lg-2">
                @Html.Editor("searchWeapon", new { htmlAttributes = new { @class = "form-control purple-text-box", placeholder = "Search Weapons..." } })
            </div>
            @* SEARCH BUTTON *@
            <div class="col-3 col-sm-2 col-md-2 col-lg-1">
                <button type="submit" name="submit" value="Search" class="blue-button form-control">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        @* PAGINATION *@
        <div class="row mb-2">
            <div class="col-3 col-md-1">
                <h5 class="mt-1">Pages:</h5>
            </div>
            <div class="col-9 col-md-11">
                <div page-model="@Model.Pagination" asp-action="Index" page-class="btn border"
                     page-class-normal="btn btn-light black-font" page-class-selected="btn btn-info active" class="ml-1 btn-group">
                </div>
            </div>
        </div>

        <div class="row">

            @foreach (var Weapon in Model.Weapons)
            {
                <div class="col-lg-4">
                    <div class="card mb-4">

                        @* PRODUCT IMAGE *@
                        <img src="@Weapon.ImageUrl" class="weapon-img" />

                        <div class="card-body card-body-grey text-center">
                            @* PRODUCT NAME AND PRICE *@
                            <h1 class="card-title">@Weapon.Name</h1>
                            <h3 class="card-text green-font">@Weapon.Price.ToString("C")</h3>

                            @* VIEW PRODUCT BUTTON *@
                            <a asp-action="Details" asp-route-id="@Weapon.Id" class="blue-button">View Details</a>

                            @* EDIT AND DELETE BUTTONS *@
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-action="Upsert" asp-route-id="@Weapon.Id" class="green-button">Edit</a>

                                <div class="mt-2">
                                    <span id="confirmDeleteSpan_@Weapon.Id" style="display:none">
                                        <span class="orbitron-font">Are you sure you want to delete?</span>
                                        <a asp-action="Delete" asp-route-id="@Weapon.Id" class="red-button">Yes</a>
                                        <a class="green-button" onclick="confirmDelete('@Weapon.Id', false)">No</a>
                                    </span>
                                </div>

                                <span id="deleteSpan_@Weapon.Id">
                                    <a class="red-button" onclick="confirmDelete('@Weapon.Id', true)">Delete</a>
                                </span>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/js/confirmDelete.js"></script>

    <script src="~/js/openAlertModal.js"></script>
    <script>
        $(document).ready(function () {
            var successMsg = "@TempData["Success"]";
            var errorMsg = "@TempData["Error"]";

            if (successMsg) {
                openSuccessModal(successMsg);
            }
            if (errorMsg) {
                openErrorModal(errorMsg);
            }
        });
    </script>
}
