@model ShoppingCartVM
@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe
@{
    ViewData["Title"] = "Shopping Cart";
}

<form method="post">
    @if (Model.MobileSuitCartItems.Count > 0 || Model.WeaponCartItems.Count > 0)
    {
        <div class="container">
            <div class="card shopping-cart">
                <div class="card-body">

                    @* MOBILE SUIT SECTION TITLE *@
                    <div class="row cart-header align-items-center">
                        <div class="col-3 col-md-2 col-lg-1">
                            <i class="fa fa-shopping-cart" style="font-size: 30px;"></i> &nbsp;
                        </div>
                        <div class="col-9 col-md-10 col-lg-11 mt-2">
                            <h1 class="display-5">Mobile Suits</h1>
                        </div>
                    </div>

                    @* MOBILE SUIT LIST *@
                    @foreach (var MobileSuitItem in Model.MobileSuitCartItems)
                    {
                        <div class="row mt-2">

                            @* ITEM IMAGE *@
                            <div class="col-2 d-none d-md-block text-center py-2">
                                <img src="@MobileSuitItem.MobileSuit.ImageUrl" class="img-fluid rounded" style="max-height: 150px; max-width: 165px;" />
                            </div>

                            @* ITEM TITLE AND DESCRIPTION *@
                            <div class="col-12 col-md-6 text-left">
                                <h3 class="text-decoration-underline">@MobileSuitItem.MobileSuit.Name</h3>
                                <p>@MobileSuitItem.MobileSuit.Description</p>
                            </div>

                            @* ITEM PRICE AND QUANTITY *@
                            <div class="col-12 col-md-4 row">
                                <div class="col-8 text-left">
                                    <h5 class="green-font">$@MobileSuitItem.MobileSuit.Price</h5>
                                </div>
                                <div class="col-4 float-right">
                                    @* REMOVE FROM CART BUTTON *@
                                    <div class="float-right">
                                        <a asp-action="deleteMobileSuitItem" asp-route-itemId="@MobileSuitItem.Id" type="submit" class="red-button">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        if (MobileSuitItem.Id != Model.MobileSuitCartItems.Last().Id)
                        {
                            <hr />
                        }
                    }

                    @* WEAPON SECTION TITLE *@
                    <div class="row cart-header align-items-center">
                        <div class="col-3 col-md-2 col-lg-1">
                            <i class="fa fa-shopping-cart" style="font-size: 30px;"></i> &nbsp;
                        </div>
                        <div class="col-9 col-md-10 col-lg-11 mt-2">
                            <h1 class="display-5">Weapons</h1>
                        </div>
                    </div>

                    @* WEAPON LIST *@
                    @foreach (var WeaponItem in Model.WeaponCartItems)
                    {
                        <div class="row mt-2">

                            @* ITEM IMAGE *@
                            <div class="col-2 d-none d-md-block text-center py-2">
                                <img src="@WeaponItem.Weapon.ImageUrl" class="img-fluid rounded" style="max-height: 150px; max-width: 165px;" />
                            </div>

                            @* ITEM TITLE AND DESCRIPTION *@
                            <div class="col-12 col-md-6 text-left">
                                <h3 class="text-decoration-underline">@WeaponItem.Weapon.Name</h3>
                                <p>@WeaponItem.Weapon.Description</p>
                            </div>

                            @* ITEM PRICE AND QUANTITY *@
                            <div class="col-12 col-md-4 row">
                                <div class="col-8 text-left" style="padding-top:5px;">
                                    <h5><span class="green-font">$@WeaponItem.Weapon.Price</span> Each</h5>
                                    <br>
                                    <h5>Quantity: @WeaponItem.Count</h5>
                                    <br>
                                    <h5>Total: <span class="green-font">$@(WeaponItem.Weapon.Price * WeaponItem.Count)</span></h5>
                                </div>
                                <div class="col-4">

                                    @* ITEM QUANTITY AND REMOVE FROM CART BUTTONS *@
                                    <div class="">
                                        <a asp-action="IncreaseWeaponQuantity" asp-route-itemId="@WeaponItem.Weapon.Id" type="submit" class="green-button">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </div>
                                    @if (WeaponItem.Count > 1)
                                    {
                                        <div class="">
                                            <a asp-action="DecreaseWeaponQuantity" asp-route-itemId="@WeaponItem.Weapon.Id" type="submit" class="blue-button">
                                                <i class="fas fa-minus"></i>
                                            </a>
                                        </div>
                                    }
                                    <div class="">
                                        <a asp-action="deleteWeaponItem" asp-route-itemId="@WeaponItem.Id" type="submit" class="red-button">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        if (WeaponItem.Id != Model.WeaponCartItems.Last().Id)
                        {
                            <hr />
                        }
                    }
                </div>

                <div class="card-footer cart-header">

                    @* TOTAL *@
                    <div class="card-footer row">
                        <div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 pr-4">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between orbitron-font">
                                    <span class="fw-bold"> Total: </span>
                                    <span id="txtOrderTotal" class="green-font text-decoration-underline">$ @Model.OrderHeader.OrderTotal</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer row">

                        @* CONVERT TOTAL INTO CENTS FOR STRIPE *@
                        @{
                            var OrderTotalForStripe = Model.OrderHeader.OrderTotal * 100;
                        }

                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="@Stripe.Value.PublishableKey"
                                data-amount="@OrderTotalForStripe"
                                data-name="Unicorn Insurance Product Purchase"
                                data-label="Place Order"
                                data-description="Purchase Mobile Suits and Weapons"
                                data-locale="auto"
                                data-allow-remember-me="false"
                                data-image="https://stripe.com/img/documentation/checkout/marketplace.png">
                        </script>

                        @* HIDE THE DEFAULT STRIPE BUTTON *@
                        <script>
                            document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                        </script>

                        @* CHECKOUT BUTTON *@
                        <div class="col-sm-12 col-lg-4 col-md-6 offset-lg-8 offset-md-6 ">
                            <button type="submit" value="Place Order" class="green-button btn-lg form-control">Place Order</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div>There are no items in the shopping cart</div>
    }
</form>