@model MobileSuit
@using System.Reflection

@{
    ViewData["Title"] = Model.Name;
}

<form method="post">
    <h2 class="display-4">@Model.Name</h2>
    <div class="row">
        <div class="col-md-6">

            <img src="@Model.ImageUrl" class="d-block w-100" />
        </div>

        <div class="col-md-6">

            <div class="row">
                <div class="col-md-12">
                    <h4>@Model.Price.ToString("C")</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p class="description">
                        @Model.Description
                    </p>
                </div>
            </div>

            <hr />

            <ul class="list-group">

                @foreach (PropertyInfo property in Model.GetType().GetProperties())
                {
                    if (property.Name != "Id" &&
                        property.Name != "Name" &&
                        property.Name != "Description" &&
                        property.Name != "Price" &&
                        property.Name != "CustomWeapon" &&
                        property.Name != "ImageUrl" &&
                        @property.GetValue(Model) != null)
                    {
                        <li class="list-group-item"><span class="font-weight-bold">@property.Name - </span> @property.GetValue(Model)</li>
                    }

                    if (property.Name == "CustomWeapon" &&
                        @property.GetValue(Model) != null)
                    {
                        <h5 class="mt-3">Custom Weapon</h5>
                        <li class="list-group-item"><span class="font-weight-bold">Name - </span> @Model.CustomWeapon.Name</li>
                        <li class="list-group-item"><span class="font-weight-bold">Ability - </span> @Model.CustomWeapon.Description</li>
                    }
                }
            </ul>

            <hr />
            <div class="row mt-2">
                <partial name="_AddToCartAndBackToListButton" />
            </div>
        </div>
    </div>
</form>
