@model MobileSuitUpsertVM
@{
    @* IF EDITING, CHANGE THE PAGE TITLE *@
    var title = "Create Mobile Suit";
    @if (Model.MobileSuit.Id != 0)
    {
        title = $"Edit {Model.MobileSuit.Name}";
    }

    ViewData["Title"] = title;
}

<form method="post" enctype="multipart/form-data">
    <div class="row p-3 border upsert-form">
        <div asp-validation-summary="ModelOnly" class="red-font"></div>

        @* SERVER VALIDATION ERRORS *@
        @if (Model.Errors is not null)
        {
            <ul>
                @foreach (var error in Model.Errors)
                {
                    <li class="red-font">@error</li>
                }
            </ul>
        }

        @* IF EDITING *@
        @if (Model.MobileSuit.Id != 0)
        {
            @* INCLUDE MODEL ID AND IMAGE URL *@
            <input type="hidden" asp-for="MobileSuit.Id" />
            <input type="hidden" asp-for="MobileSuit.ImageUrl" />
        }

        @* PAGE TITLE *@
        <div class="col-12 border-bottom">
            <h1 class="display-5">@title</h1>
        </div>        

        <div class="col-12 col-lg-8 pt-4">       

            @* MOBILE SUIT NAME *@
            <div class="form-group row mt-2">
                <div class="col-4 col-lg-3">
                    <label asp-for="MobileSuit.Name"></label>
                </div>
                <div class="col-8 col-lg-9">
                    <input asp-for="MobileSuit.Name" class="form-control inputs" />
                    <span asp-validation-for="MobileSuit.Name" class="red-font"></span>
                </div>
            </div>


            @* MOBILE SUIT DESCRIPTION *@
            <div class="form-group row mt-2">
                <div class="col-4 col-lg-3">
                    <label asp-for="MobileSuit.Description"></label>
                </div>
                <div class="col-8 col-lg-9">
                    <textarea asp-for="MobileSuit.Description" class="form-control"></textarea>
                    <span asp-validation-for="MobileSuit.Description" class="red-font"></span>
                </div>
            </div>

            @* MOBILE SUIT PRICE *@
            <div class="form-group row mt-2">
                <div class="col-4 col-lg-3">
                    <label asp-for="MobileSuit.Price"></label>
                </div>
                <div class="col-8 col-lg-9">
                    <input asp-for="MobileSuit.Price" class="form-control" />
                    <span asp-validation-for="MobileSuit.Price" class="red-font"></span>
                </div>
            </div>

            @* MOBILE SUIT TYPE *@
            <div class="form-group row mt-2">
                <div class="col-4 col-lg-3">
                    <label asp-for="MobileSuit.Type"></label>
                </div>
                <div class="col-8 col-lg-9">
                    <input asp-for="MobileSuit.Type" class="form-control" />
                    <span asp-validation-for="MobileSuit.Type" class="red-font"></span>
                </div>
            </div>

            @* MOBILE SUIT MANUFACTURER *@
            <div class="form-group row mt-2">
                <div class="col-4 col-lg-3">
                    <label asp-for="MobileSuit.Manufacturer"></label>
                </div>
                <div class="col-8 col-lg-9">
                    <input asp-for="MobileSuit.Manufacturer" class="form-control" />
                    <span asp-validation-for="MobileSuit.Manufacturer" class="red-font"></span>
                </div>
            </div>

            @* MOBILE SUIT HEIGHT *@
            <div class="form-group row mt-2">
                <div class="col-4 col-lg-3">
                    <label asp-for="MobileSuit.Height"></label>
                </div>
                <div class="col-8 col-lg-9">
                    <input asp-for="MobileSuit.Height" class="form-control" />
                    <span asp-validation-for="MobileSuit.Height" class="red-font"></span>
                </div>
            </div>

            @* MOBILE SUIT WEIGHT *@
            <div class="form-group row mt-2">
                <div class="col-4 col-lg-3">
                    <label asp-for="MobileSuit.Weight"></label>
                </div>
                <div class="col-8 col-lg-9">
                    <input asp-for="MobileSuit.Weight" class="form-control" />
                    <span asp-validation-for="MobileSuit.Weight" class="red-font"></span>
                </div>
            </div>

            @* MOBILE SUIT POWER OUTPUT *@
            <div class="form-group row mt-2">
                <div class="col-4 col-lg-3">
                    <label asp-for="MobileSuit.PowerOutput"></label>
                </div>
                <div class="col-8 col-lg-9">
                    <input asp-for="MobileSuit.PowerOutput" class="form-control" />
                    <span asp-validation-for="MobileSuit.PowerOutput" class="red-font"></span>
                </div>
            </div>

            @* MOBILE SUIT ARMOR *@
            <div class="form-group row mt-2">
                <div class="col-4 col-lg-3">
                    <label asp-for="MobileSuit.Armor"></label>
                </div>
                <div class="col-8 col-lg-9">
                    <input asp-for="MobileSuit.Armor" class="form-control" />
                    <span asp-validation-for="MobileSuit.Armor" class="red-font"></span>
                </div>
            </div>

            @* IMAGE FILE UPLOAD *@
            <div class="form-group row mt-2">
                <div class="col-4 col-lg-3">
                    Image
                </div>
                <div class="col-8 col-lg-9">
                    <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                </div>
            </div>
        </div>
        
        @* IF EDITING *@
        @if (Model.MobileSuit.Id != 0)
        {
            @* DISPLAY THE CURRENT IMAGE *@
            <div class="col-12 col-lg-3 mt-4 text-center">
                <img src="@Model.MobileSuit.ImageUrl" class="img-fluid w-75" />
            </div>
        }

        @* CUSTOM WEAPON TITLE *@
        <div class="col-12 border-bottom mt-2">
            <h4 class="text-primary black-ops-font">@title Custom Weapon (Optional)</h4>
        </div>
        <div class="col-12 col-lg-8 pt-4">

            @* CUSTOM WEAPON NAME *@
            <div class="form-group row mt-2">
                <div class="col-4 col-lg-3">
                    <label asp-for="MobileSuit.CustomWeapon.Name"></label>
                </div>
                <div class="col-8 col-lg-9">
                    <input asp-for="MobileSuit.CustomWeapon.Name" class="form-control" />
                </div>
            </div>

            @* CUSTOM WEAPON DESCRIPTION *@
            <div class="form-group row mt-2">
                <div class="col-4 col-lg-3">
                    <label asp-for="MobileSuit.CustomWeapon.Description"></label>
                </div>
                <div class="col-8 col-lg-9">
                    <textarea asp-for="MobileSuit.CustomWeapon.Description" class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-12 col-lg-9 offset-lg-3">
                    @* EDIT OR CREATE BUTTON *@
                    @if (Model.MobileSuit.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.MobileSuit.Id" />
                    }
                    else
                    {
                        <partial name="_CreateAndBackToListButton" />
                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{

    <script src="~/js/openAlertModal.js"></script>
    <script>
        $(document).ready(function () {
            var successMsg = "@TempData["Success"]";
            var errorMsg = "@TempData["Error"]";

            if (successMsg) {
                openSuccessModal(successMsg);
            }
            if (errorMsg) {
                openErrorModal(errorMsg);
            }
        });
    </script>
}