@model MobileSuitUpsertVM
@{
    @* If the model is being edited change the title *@
    var title = "Create Mobile Suit";
    @if (Model.MobileSuit.Id != 0)
    {
        title = $"Edit {Model.MobileSuit.Name}";
    }

    ViewData["Title"] = title;
}

<form method="post" enctype="multipart/form-data">
    <div class="row p-3 border">

        @* Validation Errors *@
        @if (Model.Errors is not null)
        {
            <ul>
                @foreach (var error in Model.Errors)
                {
                    <li class="text-danger">@error</li>
                }
            </ul>
        }

        @if (Model.MobileSuit.Id != 0)
        {
            @* If the model is being edited include the Model Id and ImageUrl as a hidden field *@
            <input type="hidden" asp-for="MobileSuit.Id" />
            <input type="hidden" asp-for="MobileSuit.ImageUrl" />

            if (Model.MobileSuit.CustomWeapon is not null &&
                Model.MobileSuit.CustomWeapon.Id != 0)
            {
                <input type="hidden" asp-for="MobileSuit.CustomWeapon.Id" />
            }
        }

        @* Page Header/Title *@
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">

            @* Mobile Suit Name Input *@
            <div class="form-group row mt-2">
                <div class="col-3">
                    <label asp-for="MobileSuit.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MobileSuit.Name" class="form-control" />
                </div>
            </div>


            @* Mobile Suit Description Input *@
            <div class="form-group row mt-2">
                <div class="col-3">
                    <label asp-for="MobileSuit.Description"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="MobileSuit.Description" class="form-control"></textarea>
                </div>
            </div>

            @* Mobile Suit Price Input *@
            <div class="form-group row mt-2">
                <div class="col-3">
                    <label asp-for="MobileSuit.Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MobileSuit.Price" class="form-control" />
                </div>
            </div>

            @* Mobile Suit Type Input *@
            <div class="form-group row mt-2">
                <div class="col-3">
                    <label asp-for="MobileSuit.Type"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MobileSuit.Type" class="form-control" />
                </div>
            </div>

            @* Mobile Suit Manufacturer Input *@
            <div class="form-group row mt-2">
                <div class="col-3">
                    <label asp-for="MobileSuit.Manufacturer"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MobileSuit.Manufacturer" class="form-control" />
                </div>
            </div>

            @* Mobile Suit Height Input *@
            <div class="form-group row mt-2">
                <div class="col-3">
                    <label asp-for="MobileSuit.Height"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MobileSuit.Height" class="form-control" />
                </div>
            </div>

            @* Mobile Suit Weight Input *@
            <div class="form-group row mt-2">
                <div class="col-3">
                    <label asp-for="MobileSuit.Weight"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MobileSuit.Weight" class="form-control" />
                </div>
            </div>

            @* Mobile Suit PowerOutput Input *@
            <div class="form-group row mt-2">
                <div class="col-3">
                    <label asp-for="MobileSuit.PowerOutput"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MobileSuit.PowerOutput" class="form-control" />
                </div>
            </div>

            @* Mobile Suit Armor Input *@
            <div class="form-group row mt-2">
                <div class="col-3">
                    <label asp-for="MobileSuit.Armor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MobileSuit.Armor" class="form-control" />
                </div>
            </div>

            @* Image File Upload *@
            <div class="form-group row mt-2">
                <div class="col-3">
                    Image
                </div>
                <div class="col-8">
                    <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                </div>
            </div>
        </div>

        @*If the model is being edited, display the current image*@
        @if (Model.MobileSuit.Id != 0)
        {
            <div class="col-3 offset-1 mt-4">
                <img src="@Model.MobileSuit.ImageUrl" class="d-block w-100" />
            </div>
        }

        <div class="col-12 border-bottom">
            <h4 class="text-primary">@title Custom Weapon (Optional)</h4>
        </div>
        <div class="col-8 pt-4">

            @* Mobile Suit CustomWeapon Name Input *@
            <div class="form-group row mt-2">
                <div class="col-3">
                    <label asp-for="MobileSuit.CustomWeapon.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MobileSuit.CustomWeapon.Name" class="form-control" />
                </div>
            </div>

            @* Mobile Suit CustomWeapon Description Input *@
            <div class="form-group row mt-2">
                <div class="col-3">
                    <label asp-for="MobileSuit.CustomWeapon.Description"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="MobileSuit.CustomWeapon.Description" class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-8 offset-3">
                    @*Edit or Create Button*@
                    @if (Model.MobileSuit.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.MobileSuit.Id" />
                    }
                    else
                    {
                        <partial name="_CreateAndBackToListButton" />
                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script src="https://cdn.tiny.cloud/1/kcmkof3wb0uhjlr4up6uyig5s7ddla2nn8ensssdsei1yxa7/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/js/initializeTinyMCE.js"></script>

    <script src="~/js/openAlertModal.js"></script>
    <script>
        $(document).ready(function () {
            var successMsg = "@TempData["Success"]";
            var errorMsg = "@TempData["Error"]";

            if (successMsg) {
                openSuccessModal(successMsg);
            }
            if (errorMsg) {
                openErrorModal(errorMsg);
            }
        });
    </script>
}