@model UserMobileSuit
@using UnicornInsurance.MVC.Constants
@using ExpressTimezone

@{ ViewData["Title"] = Model.MobileSuit.Name; }

@* BACK TO MOBILE SUIT DECK BUTTON *@
<div class="row">
    <a asp-controller="MobileSuitDeck" asp-action="Index" class="col-12 col-md-6 col-lg-4 btn btn-info mb-2">Back to Mobile Suit Deck</a>
</div>

@* USER MOBILE SUIT PAGE TITLE *@
<h1 class="display-3 text-center">My @Model.MobileSuit.Name</h1>


<div class="row">
    <div class="col-md-6">
        @* USER MOBILE SUIT IMAGE *@
        <img src="@Model.MobileSuit.ImageUrl" class="d-block w-100" />
    </div>

    <div class="col-md-6">

        @* USER MOBILE SUIT EQUIPPED WEAPON SELECT *@
        <h2>Equipped Weapon</h2>
        <hr />
        @if (Model.EquippedWeapon is null)
        {
            <form method="post">
                <select asp-for="SelectedWeaponId" asp-items="Model.AvailableWeaponsList" class="form-control" onchange="submitform();">
                    <option>Select a Weapon</option>
                </select>
            </form>
        }
        else
        {
            <form method="post">
                <select asp-for="SelectedWeaponId" asp-items="Model.AvailableWeaponsList" class="form-control" onchange="submitform();">
                    <option selected hidden>@Model.EquippedWeapon.Weapon.Name</option>
                </select>
            </form>

            @* UNEQUIP WEAPON BUTTON *@
            <a asp-action="UnequipWeapon" asp-route-userMobileSuitId="@Model.Id" class="btn btn-danger form-control mt-1">
                Unequip Weapon
            </a>
        }

        @* USER MOBILE SUIT CUSTOM WEAPON DISPLAY *@
        @if (Model.CustomWeapon is not null)
        {
            <hr />
            <h2>Custom Weapon</h2>
            <input readonly asp-for="CustomWeapon.Weapon.Name" type="text" class="form-control" />
        }

        @* USER MOBILE SUIT INSURANCE PLAN *@
        <hr />
        <h2>Insurance</h2>
        <div class="offset-1 col-10 offset-lg-3 col-lg-6 p-4">
            @if (Model.EndOfCoverage.UTCToSystemTime() > DateTime.Now)
            {
                if (Model.InsurancePlan == SD.StandardInsurancePlan)
                {
                    <partial name="_StandardInsuranceIcon" />
                }
                if (Model.InsurancePlan == SD.SuperInsurancePlan)
                {
                    <partial name="_SuperInsuranceIcon" />
                }
                if (Model.InsurancePlan == SD.UltraInsurancePlan)
                {
                    <partial name="_UltraInsuranceIcon" />
                }
                <h5>Expires: @Model.EndOfCoverage.UTCToSystemTime()</h5>
            }
            else
            {
                <div class="no-insurance-border text-center justify-content-center">
                    <h5 class="no-insurance-font p-5">No Insurance</h5>
                </div>
                <a asp-controller="MobileSuitDeck" asp-action="Insurance" asp-route-id="@Model.Id" class="btn btn-info form-control mt-3">Purchase Insurance</a>
            }
        </div>

        @* USER MOBILE SUIT STATUS *@
        <hr />
        @if (Model.IsDamaged)
        {
            <h5>Mobile Suit Status: <b class="red-font">Damaged</b></h5>
            <a asp-controller="MobileSuitDeck" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger form-control btn-lg">Delete Mobile Suit</a>
        }
        else
        {
            <h5>Mobile Suit Status: <b class="green-font">Operational</b></h5>
            <a asp-controller="Deployments" asp-action="Deploy" asp-route-id="@Model.Id" class="btn btn-success form-control btn-lg">Deploy Mobile Suit</a>
        }

    </div>
</div>

@section Scripts {
    <script>
        function submitform() {
            $('form').submit();
        }
    </script>
}