@model UserMobileSuit
@using UnicornInsurance.MVC.Constants

@{ ViewData["Title"] = Model.MobileSuit.Name; }

@* BACK TO MOBILE SUIT DECK BUTTON *@
<div class="row">
    <a asp-controller="MobileSuitDeck" asp-action="Index" class="blue-button col-12 col-md-6 col-lg-4 mb-2">Back to Mobile Suit Deck</a>
</div>

@* USER MOBILE SUIT PAGE TITLE *@
<h1 class="display-3 text-center">My @Model.MobileSuit.Name</h1>


<div class="row">
    <div class="col-md-6">
        @* USER MOBILE SUIT IMAGE *@
        <img src="@Model.MobileSuit.ImageUrl" class="d-block w-100" />
    </div>

    <div class="col-md-6">

        @* USER MOBILE SUIT EQUIPPED WEAPON SELECT *@
        <h2>Equipped Weapon</h2>
        <hr />
        @if (Model.EquippedWeapon is null)
        {
            <form method="post">
                <select asp-for="SelectedWeaponId" asp-items="Model.AvailableWeaponsList" class="form-control" onchange="submitform();">
                    <option>Select a Weapon</option>
                </select>
            </form>
        }
        else
        {
            <form method="post">
                <select asp-for="SelectedWeaponId" asp-items="Model.AvailableWeaponsList" class="form-control" onchange="submitform();">
                    <option selected hidden>@Model.EquippedWeapon.Weapon.Name</option>
                </select>
            </form>

            @* UNEQUIP WEAPON BUTTON *@
            <a asp-action="UnequipWeapon" asp-route-userMobileSuitId="@Model.Id" class="red-button btn-lg form-control mt-2">
                Unequip Weapon
            </a>
        }

        @* USER MOBILE SUIT CUSTOM WEAPON DISPLAY *@
        @if (Model.CustomWeapon is not null)
        {
            <hr />
            <h2>Custom Weapon</h2>
            <input readonly asp-for="CustomWeapon.Weapon.Name" type="text" class="purple-text-box form-control" />
        }

        @* USER MOBILE SUIT INSURANCE PLAN *@
        <hr />
        <h2>Insurance</h2>
        <div class="">
            <input value="No Insurance Plan" id="insurance-plan" type="text" readonly class="purple-text-box form-control" />
            <br />
            <input value="" id="insurance-expiration" type="text" readonly class="purple-text-box form-control" />
            <a asp-controller="MobileSuitDeck" asp-action="Insurance" asp-route-id="@Model.Id" class="blue-button btn-lg form-control mt-3">Purchase Insurance</a>
        </div>

        @* USER MOBILE SUIT STATUS *@
        <hr />
        @if (Model.IsDamaged)
        {
            <h5>Mobile Suit Status: <b class="red-font">Damaged</b></h5>
            <a asp-controller="MobileSuitDeck" asp-action="Delete" asp-route-id="@Model.Id" class="red-button form-control btn-lg">Delete Mobile Suit</a>
        }
        else
        {
            <h5>Mobile Suit Status: <b class="green-font">Operational</b></h5>
            <a asp-controller="Deployments" asp-action="Deploy" asp-route-id="@Model.Id" class="green-button form-control btn-lg">Deploy Mobile Suit</a>
        }

    </div>
</div>

@section Scripts {
   
    <script>
        $(document).ready(function () {
            var endOfCoverageString = "@Model.EndOfCoverage.ToString("o")" + "Z";

            var endOfCoverage = new Date(endOfCoverageString);

            var now = new Date();

            var insurancePlan = document.getElementById("insurance-plan");
            var insuranceExpiration = document.getElementById("insurance-expiration");

            if (endOfCoverage > now) {
                insurancePlan.value = "@Model.InsurancePlan Insurance Plan";

                var diffMs = (endOfCoverage - now);
                var diffHrs = Math.floor((diffMs % 86400000) / 3600000);
                var diffMins = Math.round(((diffMs % 86400000) % 3600000) / 60000);

                insuranceExpiration.value = "Expires in " + diffHrs + " hours and " + diffMins + " minutes";
            }
            else {
                insurancePlan.value = "No Insurance Plan";
                insuranceExpiration.value = "";
            }

        })(jQuery);
    </script>


    <script>
        function submitform() {
            $('form').submit();
        }
    </script>
}