@model UserMobileSuit
@using UnicornInsurance.MVC.Constants 
@using ExpressTimezone

@{ ViewData["Title"] = Model.MobileSuit.Name; }

<div class="row">
    <a asp-controller="MobileSuitDeck" asp-action="Index" class="col-3 btn btn-info form-control btn-sm">Back to Mobile Suit Deck</a>
</div>

<div class="row">
    <h2 class="display-4">My @Model.MobileSuit.Name</h2>   
</div>

<div class="row">
    <div class="col-md-6">

        <img src="@Model.MobileSuit.ImageUrl" class="d-block w-100" />
    </div>

    <div class="col-md-6">

        <h2>Equipped Weapon</h2>
        <hr />

        @if (Model.EquippedWeapon is null)
        {
            <form method="post">
                <select asp-for="SelectedWeaponId" asp-items="Model.AvailableWeaponsList" class="form-control" onchange="submitform();">
                    <option>Equip a Weapon</option>
                </select>
            </form>
        }
        else
        {
            <form method="post">
                <select asp-for="SelectedWeaponId" asp-items="Model.AvailableWeaponsList" class="form-control" onchange="submitform();">
                    <option selected hidden>@Model.EquippedWeapon.Weapon.Name</option>
                </select>
            </form>

            <a asp-action="UnequipWeapon" asp-route-userMobileSuitId="@Model.Id" class="btn btn-danger form-control btn-square btn-lg mt-1"
               style="height:35px; font-size:15px;">Unequip Weapon</a>
        }

        @if (Model.CustomWeapon is not null)
        {
            <hr />
            <h2>Custom Weapon</h2>
            <input readonly asp-for="CustomWeapon.Weapon.Name" type="text" class="form-control" />
        }

        <hr />
        <h2>Insurance</h2>
        <div class="offset-3 col-6 p-4">
            @if (Model.EndOfCoverage.UTCToSystemTime() > DateTime.Now)
            {
                if (Model.InsurancePlan == SD.StandardInsurancePlan)
                {
                    <partial name="_StandardInsuranceIcon" />
                }
                if (Model.InsurancePlan == SD.SuperInsurancePlan)
                {
                    <partial name="_SuperInsuranceIcon" />
                }
                if (Model.InsurancePlan == SD.UltraInsurancePlan)
                {
                    <partial name="_UltraInsuranceIcon" />
                }
                <h5>Expires: @Model.EndOfCoverage.UTCToSystemTime()</h5>
            }
            else
            {
                <div style="border: 1px solid red; border-radius: 20px;">
                    <div class="text-center justify-content-center">
                        <h5 class="text-danger p-5">No Insurance</h5>
                    </div>
                </div>
                <a asp-controller="MobileSuitDeck" asp-action="Insurance" asp-route-id="@Model.Id" class="btn btn-info form-control mt-3">Purchase Insurance</a>
            }
        </div>

        <hr />
        @if (Model.IsDamaged)
        {
            <h5>Mobile Suit Status: <b class="text-danger">Damaged</b></h5>
            <a asp-controller="MobileSuitDeck" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger form-control btn-lg">Delete Mobile Suit</a>
        }
        else
        {
            <h5>Mobile Suit Status: <b class="text-success">Operational</b></h5>
            <a asp-controller="Deployments" asp-action="Deploy" asp-route-id="@Model.Id" class="btn btn-success form-control btn-lg">Deploy Mobile Suit</a>
        }

    </div>
</div>

@section Scripts {
    <script>
        function submitform() {
            $('form').submit();
        }
    </script>
}